* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: white;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0px;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #5b9b0f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #5b9b0f;
    color: white;
  }
  
  .home-main {
    width: 50%;
    max-width: 1200px;
    height: 50%;
    margin: auto;
    padding: 10px;
    background-position: center;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .
  
  
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
    margin-bottom: 2em;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: #333;
    padding: 20px;
    margin-top: 20px;
    color:#5b9b0f;

  }

  .card-content {
    display: grid;
    padding: 1rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 100%;
    margin: 0 0 0 0;
    color:#5b9b0f;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 0.1px;
    text-align: center;
    background: #333;
    margin-top: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 10px;
  }

  .footer a {
    display: block;
    color: #5b9b0f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .footer a:hover {
    background-color: #5b9b0f;
    color: white;
  }
  
.hero-2{
    width: 100%;
    height: 100vh;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 90%;
    max-width: 960px;
    background-color: #333;
    padding: 1em;
    
}

textarea {
  resize: none;
}

.input-group{
    margin-bottom: 30px;
    position: relative;
}

input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #5b9b0f;
    color: #5b9b0f;
    font-size: 15px;
}
label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #5b9b0f;
    cursor: text;
    transition: 0.2s;
}
button{
    padding: 10px 0;
    margin-bottom: 0.5rem;
    color: #5b9b0f;
    outline: none;
    border: 1px solid #5b9b0f;
    width: 100%;
    cursor: pointer;
}
button:hover{
    background-color: #5b9b0f;
    color: #fff;
}
input:focus~label, input:valid~label, textarea:focus~label, textarea:valid~label{
    top: -35px;
    font-size: 14px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row .input-group{
    flex-basis: 48%;
}
.contact-title{
    padding-bottom: 1rem;
}


  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
    .card {
      gap: 10em;
  
    }
    .army-pic {
        object-fit: contain;
    }
    .card-content {
        display:list-item;
        
    }
    input, textarea{
        font-size: 14px;
    }
    input:focus~label, input:valid~label, textarea:focus~label, textarea:valid~label{
        top: -35px;
        font-size: 13px;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
    .topnav {
        position: relative;
      }
      input, textarea{
        font-size: 13px;
    }
    input:focus~label, input:valid~label, textarea:focus~label, textarea:valid~label{
        top: -35px;
        font-size: 12px;
    }

  }
